@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");

body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  font-family: "Ubuntu", sans-serif;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 44px;
  padding: 0 8px 0 0;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container{
  min-height: 71vh;
  background-color: black;
  color: white;
  font-family: "Verbal", sans-serif;
  width: 70%;
  margin: 24px auto;
  border-radius: 12px;
  padding: 35px;
  background-image: url(bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom{
  position: sticky;
  height: 130px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#myProgressBar{
  min-width: 80vw;
}

.icons{
  margin: 14px 0;
}

.icons img{
  margin: 0 5px;
}
